---
layout: archive
title: Kristian's Curriculum Vitae
toc: true
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---
{% include toc %}
{% include base_path %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kristian's Curriculum Vitae</title>
</head>
<body>
    <header>
        <h1 style="text-align: center;">Kristian's Curriculum Vitae</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#education">Education</a></li>
            <li><a href="#work-experience">Work Experience</a></li>
            <li><a href="#peer-reviewed-publications">Peer-Reviewed Publications</a></li>
            <li><a href="#conference-presentations">Conference Presentations</a></li>
            <li><a href="#invited-lectures">Invited Lectures</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#current-professional-memberships">Current Professional Memberships</a></li>
            <li><a href="#past-professional-memberships">Past Professional Memberships</a></li>
            <li><a href="#university-service">University Service</a></li>
            <li><a href="#professional-service">Professional Service</a></li>
            <li><a href="#community-service">Community Service</a></li>
            <li><a href="#professional-development">Professional Development</a></li>
            <li><a href="#teaching-activities">Teaching Activities</a></li>
        </ul>
    </nav>
    <section>
        <p>You can download a complete pdf version of my CV here: 
        <a href="https://github.com/kedosomwan/kedosomwan.github.io/blob/8e3065e282c70606a8f18b62b189717f2e2fba53/files/Documents/EdosomwanCV.pdf">EdosomwanCV</a></p>
    </section>

    <section id="education">
        <h2>Education</h2>
        <ul>
            <li>Ph.D in Curriculum and Instruction, Texas A&M University, 2025 (expected)</li>
            <li>Certificate in Applied Statistics, Texas A&M University, 2025 (expected)</li>
            <li>M.Ed. in Curriculum and Instruction, Texas A&M University, 2021</li>
            <li>B.A. in Sociology and Asian Studies, Rice University, 2024</li>
        </ul>
    </section>

    <section id="work-experience">
        <h2>Work Experience</h2>
        <ul>
            <li>2020-Present: Texas A&M University, College Station, TX, Graduate Research Assistant</li>
            <li>2023-Present: Holzman Equity and Access Lab, College Station, TX, Graduate Student Researcher</li>
            <li>2020-Present: Texas A&M University, College Station, TX, Graduate Assistant</li>
            <li>2019-2020: Beaumont Independent School District, Beaumont, TX, Seventh Grade Science Lead Teacher</li>
            <li>2016-2019: Austin Independent School District, Austin, TX, Middle School Math and Science Teacher and Grade Team Lead</li>
            <li>2014-2015: Fulbright Foundation for Scholarly Exchange, Jinmen, Taiwan, English Teaching Assistant</li>
        </ul>
    </section>

    <section id="peer-reviewed-publications">
        <h2>Peer-Reviewed Publications</h2>
        <ul>
            <li><strong>Edosomwan, K.</strong>, Young, J.L., & Young, J.R. (2024). The relationship between middle grades algebra and advanced Carnegie credits: A QuantCrit analysis. <i>Middle Grades Review, 10</i>(1), 1-10. <a href="https://scholarworks.uvm.edu/mgreview/vol10/iss1/3/">https://scholarworks.uvm.edu/mgreview/vol10/iss1/3/</a></li>
            <li><strong>Edosomwan, K.</strong> & Williams III, J.A. (2023). Double Jeopardy? Examining the influence of mathematics tracking on in-school suspensions through an intersectionality framework. <i>School Science and Mathematics, 1258(2), 72-84.</i> <a href="https://doi.org/10.1111/ssm.12607">https://doi.org/10.1111/ssm.12607</a></li>
            <li><strong>Edosomwan, K.</strong>, Young, J.L., Butler, B., Young, J.R., & Williams III, J. A. (2023). Tracking the effects: Examining the opportunity stratification hypothesis in action. <i>Journal of Education, 08(0), 1-15.</i> <a href="https://doi.org/10.1177/00220574231168634">https://doi.org/10.1177/00220574231168634</a></li>
            <li>Williams III, J. A., <strong>Edosomwan, K.</strong>, Grice, S., Richardson, S. C., & Young, J. (2023). Is the employment of school resource officers in high schools associated with Black girls discipline outcomes? <i>Race Ethnicity and Education, 26</i>(3), 398-418. <a href="https://doi.org/10.1080/13613324.2022.2160774">https://doi.org/10.1080/13613324.2022.2160774</a></li>
            <li>Young, J., Young, J., <strong>Edosomwan, K.</strong>, Sanders, M., & King, N. (2022). A single-group summary of Black boys' science achievement on the NAEP. <i>Negro Educational Review, 73</i>(1-4), 161-188.</li>
            <li><strong>Edosomwan, K.</strong>, Young, J.R., & Tholen, A. (2022). Mathematics mobility in the middle grades: Tracking the odds of completing calculus. <i>Middle Grades Review, 8</i>(1), 1-17. <a href="https://files.eric.ed.gov/fulltext/EJ1357744.pdf">https://files.eric.ed.gov/fulltext/EJ1357744.pdf</a></li>
            <li>Tholen, A., <strong>Edosomwan, K.</strong>, Hong, D., Fulmer, G. W., & Young, J. (2022). Increasing access to advanced mathematics through self-selection: A multinomial logistic regression analysis. <i>The High School Journal, 105</i>(2), 145-169. <a href="https://doi.org/10.1353/hsj.2022.0003">https://doi.org/10.1353/hsj.2022.0003</a></li>
        </ul>
    </section>

    <section id="conference-presentations">
        <h2>Conference Presentations</h2>
        <ul>
            <li><strong>Edosomwan, K.</strong>, Young, J.L., Wandix-White, D., & Hamilton, M. (2024, May 2-4). <i>Conscientious coursework: An analysis of multicultural education syllabi in teacher preparation programs</i> [Conference Presentation]. Texas National Association of Multicultural Educators. Houston, Texas, United States.</li>
            <li>Sanders, M., <strong>Edosomwan, K.</strong>, Williams III, J. A. (2024, April 11-14). <i>“Are they really on track?” A hierarchical linear modeling analysis of Texas mathematics tracking practices</i> [Conference Presentation]. American Educational Research Association 2024 Convention. Philadelphia, Pennsylvania, United States.</li>
            <li><strong>Edosomwan, K.</strong>, O’Neal, L., & Sanders, M. (2024, April 11-14). <i>Are Mathematics Teacher Assignments Equitable? An Analysis of the Qualifications of Mathematics Teachers by Course Level.</i> [Conference Presentation]. American Educational Research Association 2024 Convention. Philadelphia, Pennsylvania, United States.</li>
            <li><strong>Edosomwan, K.</strong>, Young, J. L., & Young, J. R. (2024, April 11-14). <i>A Scoping Review of QuantCrit Research: Toward Consistency and Advancing the Approaches.</i> [Conference Presentation]. American Educational Research Association 2024 Convention. Philadelphia, Pennsylvania, United States.</li>
            <li>Straub, S. & <strong>Edosomwan, K.</strong> (2024, March 4-6). <i>Fostering academic synergy: Nurturing profound student-professor bonds in the research team model journey.</i> [Conference presentation]. Critical Questions in Education 2024 Convention. New Orleans, Louisiana, United States.</li>
            <li>Bango, E. & <strong>Edosomwan, K.</strong> (2023, Nov 15-19). <i>Show me the Money: An Analysis of the Disse
