---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<style>
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    
  }

  ul {
      list-style-type: none;
      margin-bottom: 20px;
      border: 1px solid #5d04aa;
      padding: 10px;
      border-radius: 5px;
      background-color: #f9f9f9;
  }
  
  li {
      text-indent: -0.75em; 
      margin: 0.33em 0.5em 0.5em 1.5em;
  }

  h1 { 
      background-color: #5d04aa;
      color: white;
      text-align: center;
  }

  h2 { 
      background-color: #5d04aa;
      color: white;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: purple;
    width: 200px;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: purple;
    color: white;
  }

  .x {
      margin-left: 50px;
      text-indent: -30px;
  }
  </style>

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
